<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="password-container">
        <form class="password">
            <h1 style="background-color: darksalmon;border-radius: 5px;"><span style="color: darkgoldenrod;">Fun</span><span
                    style="color: dodgerblue;">Doo</span><span style="color: forestgreen;">App</span></h1>
            <hr>
            <h2 style="color: forestgreen;font-size: x-large;">Forgot Password</h2>
            <p>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Ex. example@example.com">
                    <mat-error>Please enter a valid email address</mat-error>
                    <mat-error>Email is <strong>required</strong></mat-error>
                </mat-form-field>
            </p>
            <div class="ButtonDiv">
                <button mat-button (click)="goToLogin()" type="button">Back</button>
                <button class="LoginButton" mat-raised-button color="primary">send</button>
            </div>
        </form>
    </div>
</body>
</html>