<div style="display: flex;flex-direction: column;align-items: flex-start;">
    <button mat-icon-button><img src="../../../assets/Images/lightbulb_FILL0_wght400_GRAD0_opsz24.png"></button>
    <button mat-icon-button><img src="../../../assets/Images/notifications_FILL0_wght400_GRAD0_opsz24.png"></button>
    <button mat-icon-button><img src="../../../assets/Images/label_FILL0_wght400_GRAD0_opsz24.png"></button>
    <button mat-icon-button><img src="../../../assets/Images/edit_FILL0_wght400_GRAD0_opsz24.png"></button>
    <button mat-icon-button><img src="../../../assets/Images/archive_FILL0_wght400_GRAD0_opsz24.png"></button>
    <button mat-icon-button><img src="../../../assets/Images/delete_FILL0_wght400_GRAD0_opsz24.png"></button>
</div>