<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="form">
      <form [formGroup]="loginUser" (ngSubmit)="onSubmit()">
        <div>
          <h2 style="text-align: center; color: darkorange;">Fundo</h2>
        </div>
        <div>
          <h3 style="text-align: center;">Sign in</h3>
        </div>
        <div>
          <p style="text-align: center;">Use your Fundo Account</p>
        </div>
        <div style="display: flex;flex-direction: column; justify-content: center;">
          <mat-form-field appearance="outline">
            <mat-label>Email or Phone</mat-label>
            <input matInput formControlName="email" placeholder="Email or Phone">
            <mat-error *ngIf=" submitted && loginUser.controls['email'].errors">
              <mat-error *ngIf="loginUser.controls['email'].errors['required']">Email is <strong>Required</strong></mat-error>
              <mat-error *ngIf="loginUser.controls['email'].errors['email']">Email Should be <strong>Valid</strong></mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div style="text-align: center;">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" placeholder="Password">
            <mat-error *ngIf=" submitted && loginUser.controls['password'].errors">
              <mat-error *ngIf="loginUser.controls['password'].errors['required']">Password is <strong>Required</strong></mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <p><button style="color: blue;" (click)="goToForgotPassword()" type="button" mat-button>Forgot Password</button></p>
        <div class="buttonContainer">
          <div>
            <button style="color: blue;" type="button" (click)="goToRegister()" mat-button>Create Account</button>
          </div>
          <div>
            <button type="submit" mat-raised-button color="primary">Login</button>
          </div>
        </div>
      </form>
    </div>
    <div class="foot">
      <div>
        <mat-form-field>
          <mat-label>English (United States)</mat-label>
          <mat-select>
            <mat-option>English (United States)</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button disabled mat-button>Help</button>
        <button disabled mat-button>Privacy</button>
        <button disabled mat-button>Terms</button>
      </div>
    </div>
  </div>
</body>
</html>