<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="login-container">
    <form class="login" (ngSubmit)="onSubmit(Login)" #Login="ngForm">
      <h1 style="background-color: darksalmon;border-radius: 5px;"><span style="color: darkgoldenrod;">Fun</span><span style="color: dodgerblue;">Doo</span><span style="color: forestgreen;">App</span></h1>
      <hr>
      <h2 style="color: forestgreen;font-size: x-large;">Login</h2>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input name="Email" required autocomplete="off" ngModel matInput placeholder="Email">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input name="Password" required type="password" ngModel matInput placeholder="Password">
        </mat-form-field>
      </p>
      <div class="ButtonDiv">
        <button mat-button type="button" (click)="goToForgotPassword()">Forgot Password</button>
        <button mat-button type="button" (click)="goToRegister()">Register</button>
        <button type="submit" class="LoginButton" mat-raised-button color="primary" [disabled]="!Login.valid">Login</button>
      </div>
    </form>
  </div>
</body>
</html>
