<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="reset-container">
        <form class="reset" [formGroup]="userPasswordReset" (ngSubmit)="onSubmit()">
            <h1 style="background-color: darksalmon;border-radius: 5px;"><span style="color: darkgoldenrod;">Fun</span><span
                    style="color: dodgerblue;">Doo</span><span style="color: forestgreen;">App</span></h1>
            <hr>
            <h2 style="color: forestgreen;font-size: x-large;">Reset Password</h2>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" formControlName="password" matInput placeholder="Password">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" formControlName="confirmPassword" matInput placeholder="Confirm Password">
                </mat-form-field>
            </p>
            <div class="ButtonDiv">
                <button mat-button (click)="goToLogin()" type="button">Back</button>
                <button class="resetButton" type="submit" mat-raised-button color="primary">Reset</button>
            </div>
        </form>
    </div>
</body>
</html>